@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

body {
  font-family: "Helvetica", sans-serif;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
  border: 1px solid lightgray;
  color: lightgray;
  -webkit-text-fill-color: lightgray;
  box-shadow: 0 0 0px 1000px #3f3f46 inset;
  -webkit-box-shadow: 0 0 0px 1000px #3f3f46 inset;
  transition: background-color 5000ms ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #3f3f46;
  color: black;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000ms ease-in-out 0s;
}

#postInput:first-child:empty::before {
  content: attr(placeholder);
  color: #999;
  display: block;
  height: 100%;
}
.dark #postInput:first-child:empty::before {
  content: attr(placeholder);
  color: rgb(150, 150, 150);
  display: block;
  height: 100%;
}
